*~
build
.lock-waf*
.waf*
*.pyc
cut
install
log.*
*.log
tmp
install*
tmp*
venv
*.dump
cut.*
auto
ltximg
*.tex
*.pdf
product_deps
ups
*.egg-info
dist
*.npz
Procfile
ptmp.pb.h
log
junk
FELIX_*
*.dump
*.json
*.mon
gmon.out
callgrind.*
oprofile.*
perf.*
*.prof
oprofile_data
